body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
  }

  #green_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 956px;
    max-height: 239px;
    margin: 60px auto 30px;
    padding: 0 20px;
    flex-wrap: wrap;
    border: 1px solid green;
  }
  
  #red_box {
    flex: 1;
    min-width: 600px;
    border: 1px solid red;
  }
  
  #header_box {
    background-color: #d2f2f6;
    padding: 60px 40px;
    border-radius: 40px;
    max-width: 1002px;
    max-height: 195px;
    margin: 60px auto;
    text-align: center;
  }

 
  #header {
    background-color: #d2f2f6;
    padding: 60px 0;
    text-align: center;
  }
  
  #about_me {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title-top {
    font-size: 25px;
    color: #007b8f;
    margin: 8px;
   font-weight: 10;
  }
  
  #about_me h1 {
    font-size: 60px;
    font-weight: bold;
    color: #00a8c6;
    margin: 10px 0 20px;
  }
  
  #bio {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    max-width: 750px;
    margin: 30px auto 60px;
    text-align: center;
  }

  b {
    font-weight:900;
  }


/* 4 boxes */
#info_box_group {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 40px auto 60px;
  }
  
  /* each box */
  .info_box {
    background-color: #d2f2f6;
    color: #00a8c6;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    width: 180px;
    text-align: center;
  }
  

  .info_box a {
    text-decoration: none;
    color: #00434f;
    display: flex;
    justify-content: center;
    justify-content: center;
  }

  
  
  #logo_name {
    font-size: 24px;
    font-weight: bold;
  }
  
  #nav_links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
  }
  
  
  
  #about_me_contents {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;

  }
  

  #language_section,
  #education_section,
  #skills_section {
    margin-bottom: 60px;
    text-align: center;
  }
  
  #language_title,
  #education_title,
  #skills_title {
    font-size: 28px;
    color: #00a8c6;
    margin-bottom: 20px;
  }
  
  #language_list,
  #education_list,
  #skills_list {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  #language_icon,
  #education_icon {
    width: 80px;
    height: auto;
    margin-top: 10px;
  }
  
  
  #vertical_divider {
    width: 100%;
    height: 1px;
    background-color: #d2f2f6;
    margin: 60px auto;
  }
  